<%= render 'shared/banner' %>
<div id="home_1" class="container">
  <h1 class="text-center">Here are all your cocktails</h1>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card', cocktail: cocktail %>
        </div>
      <% end %>
    </div>

    <div class="text-center">
      <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>


  </div>
</div>
