<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 50%), url('https://static.pexels.com/photos/372959/pexels-photo-372959.jpeg');">
  <div class="banner-content">
    <h1>A whole world to explore</h1>
    <p>Learn the latest cocktails on Mister Cocktail</p>
    <a class="btn btn-primary btn-lg" id="main-btn">Enter</a>
  </div>
</div>
