<div class="card-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <a class="card-link" href=<%= cocktail_path(cocktail) %> ></a>
</div>

<div class="card-body">
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
</div>
