<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  </a>
<!--     <%= image_path 'logo' %>
 -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
